body{
background: linear-gradient(#BFE0FD,#000001);
font-family:serif ;
word-spacing: 0.2em;
font-size:1.2em;
color:rgb(68, 68, 68);
max-width: 90%;
margin-left: 120px;
background-image: url(../e439db138a74086cf3b7b7c6872fd9c0.jpg);
background-repeat: no-repeat;
background-size: cover;

}

h1{
    color: rgb(45, 45, 46);
}
.good {
color: green;

}
.bad {
color: red;
}
h2 {
font-size: 160%;
width: 50%;
background-color: rgb(189, 188, 188);
margin:auto;
border-left: 3px firebrick solid;
padding-left: 30px;
margin-top: 80px ;
margin-bottom: 80px;
}